<div class="reportSection">
  <h4>Size</h4>
  {{#isWithinReserve}}
    <p style="large"><b>{{aoi_name}}</b> is <b>{{aoi_size}} m<sup>2</sup></b> and is within the <b><a href={{aoi_res_url}} target="_blank">{{aoi_res_name}}</a></b>.</p>
  {{/isWithinReserve}}
  {{^isWithinReserve}}
    {{#isCollection}}
          <p style="large"><b>{{aoi_name}}</b> is <b>{{aoi_size}} m<sup>2</sup></b>.</p>
    {{/isCollection}}

    {{^isCollection}}
          <p style="large"><b>{{aoi_name}}</b> is <b>{{aoi_size}} m<sup>2</sup></b> but is not within an existing reserve.</p>
    {{/isCollection}}
  {{/isWithinReserve}}
</div>

<div class="reportSection">
    <h4>Number of Habitats in '{{sketch_name}}'</h4>
    {{#d3IsPresent}}
        <div>
          <div class="hab_pie" id="hab_pie"></div>
          <div class="hab_pie_legend" id="hab_pie_legend"></div>
        </div>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
    <p>
      '{{sketch_name}}' includes <b>{{found_habs}}</b> of the <b>{{total_habs}}</b> CWHR habitats within California.
    </p>
    {{/d3IsPresent}}
 </div>

<div class="reportSection tableContainer">
    <h4>Missing Habitats ({{missing_hab_count}} of {{total_habs}})</h4>
      <table data-paging="10">
        <thead>
          <tr>
            <th>Habitat Name</th>
          </tr>
       </thead>
        <tbody>
          {{#missing_habs}}
            <tr>
              <td>{{NAME}}</td>
            </tr>
          {{/missing_habs}}
        </tbody>
    </table>
 </div>

<div class="reportSection tableContainer">
    <h4>Habitats Found ({{found_habs}} of {{total_habs}})</h4>
    <table data-paging="10">
      <thead>
        <tr>
          <th>Habitat Name</th>
        </tr>
      </thead>
      <tbody>
        {{#habs}}
          <tr>
            <td>{{NAME}}</td>
          </tr>
        {{/habs}}
      </tbody>
    </table>
 </div>

