
<div class="reportSection tableContainer">
    <h4>Habitats</h4>
    <table>
      <thead>
        <tr>
          <td>Habitat</td>
          <td>Area (km<sup>2</sup></td>
        </tr>
      </thead>
      <tbody>
        {{#habs}}
          <tr>
            <td>{{NAME}}</td>
            <td>{{AREA}}</td>
          </tr>
        {{/habs}}
    </table>
 </div>


 <div class="reportSection tableContainer">
    <h4>Amphbians</h4>
    <table>
      <thead>
        <tr>
          <td>Common Name</td>
          <td>Area (km<sup>2</sup></td>
        </tr>
      </thead>
      <tbody>
        {{#habs}}
          <tr>
            <td>{{NAME}}</td>
            <td>{{AREA}}</td>
          </tr>
        {{/habs}}
    </table>
 </div>

  <div class="reportSection tableContainer">
    <h4>Reptiles</h4>
    <table>
      <thead>
        <tr>
          <td>Common Name</td>
          <td>Area (km<sup>2</sup></td>
        </tr>
      </thead>
      <tbody>
        {{#reptiles}}
          <tr>
            <td>{{NAME}}</td>
            <td>{{AREA}}</td>
          </tr>
        {{/reptiles}}
    </table>
 </div>

   <div class="reportSection tableContainer">
    <h4>birds</h4>
    <table>
      <thead>
        <tr>
          <td>Common Name</td>
          <td>Area (km<sup>2</sup></td>
        </tr>
      </thead>
      <tbody>
        {{#birds}}
          <tr>
            <td>{{NAME}}</td>
            <td>{{AREA}}</td>
          </tr>
        {{/birds}}
    </table>
 </div>

<div class="reportSection tableContainer">
    <h4>Mammals</h4>
    <table>
      <thead>
        <tr>
          <td>Common Name</td>
          <td>Area (km<sup>2</sup></td>
        </tr>
      </thead>
      <tbody>
        {{#mammals}}
          <tr>
            <td>{{NAME}}</td>
            <td>{{AREA}}</td>
          </tr>
        {{/mammals}}
    </table>
 </div>