
<div class="reportSection">
  <h4>Area of Interest</h4>
  <p style="large"><b>{{aoi_name}}</b> is <b>{{aoi_size}} acres</b> and is within the <b><a href={{aoi_res_url}} target="_blank">{{aoi_res_name}}</a></b>.</p>
</div>

<div class="reportSection">
  <h4>Number of CWHR Habitats and Species in Sketch</h4>

  <svg class="chart"></svg>
  <p style="margin-left:20px;"><i>Habitat and species data is from <a href="https://www.dfg.ca.gov/biogeodata/cwhr/" target="_blank" >California Wildlife Habitat Relationships (CWHR)</a>. The reports below detail the habitat and species within the sketch.</i></p>
</div>

<div class="reportSection tableContainer">
    <h4>Habitats in Sketch</h4>
    <table data-paging="10">

      <tbody>
        {{#habs}}
          <tr>
            <td>{{NAME}}</td>
          </tr>
        {{/habs}}
      </tbody>
    </table>
 </div>

   <div class="reportSection tableContainer">
    <h4>Bird Species in Sketch</h4>
    <table data-paging="25">
      <thead>
        <tr>
          <th>Common Name (Scientific Name)</th>
        </tr>
      </thead>
      <tbody>
        {{#birds}}
          <tr>
            <td>{{NAME}}</td>
          </tr>
        {{/birds}}
      </tbody>
    </table>
 </div>

 <div class="reportSection tableContainer">
    <h4>Amphbian Species in Sketch</h4>
    <table data-paging="10">
      <thead>
        <tr>
          <th>Common Name (Scientific Name)</th>
        </tr>
      </thead>
      <tbody>
        {{#amphibians}}
          <tr>
            <td>{{NAME}}</td>
          </tr>
        {{/amphibians}}
      </tbody>
    </table>
 </div>
  <div class="reportSection tableContainer">
    <h4>Reptile Species in Sketch</h4>
    <table  data-paging="10">
      <thead>
        <tr>
          <th>Common Name (Scientific Name)</th>
        </tr>
      </thead>
      <tbody>
        {{#reptiles}}
          <tr>
            <td>{{NAME}}</td>
          </tr>
        {{/reptiles}}
      </tbody>
    </table>
 </div>
<div class="reportSection tableContainer">
    <h4>Mammal Species in Sketch</h4>
    <table data-paging="10">
      <thead>
        <tr>
          <th>Common Name (Scientific Name)</th>
        </tr>
      </thead>
      <tbody>
        {{#mammals}}
          <tr>
            <td>{{NAME}}</td>
          </tr>
        {{/mammals}}
      </tbody>
    </table>
 </div>